skills/mhmalvi/shopify-order-management/workflows/02-order-status-sync.json
{
  "name": "Shopify — Order Status Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule Sync",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHOPIFY_ORDERS_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "options": {}
      },
      "id": "n2",
      "name": "Read Orders Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orders = $input.all().map(i => i.json);\n\n// Filter orders that are not yet fulfilled/completed\nconst pending = orders.filter(o =>\n  o.fulfillment_status !== 'fulfilled' &&\n  o.fulfillment_status !== 'delivered' &&\n  o.financial_status !== 'refunded' &&\n  o.order_id\n);\n\nif (pending.length === 0) {\n  return [{ json: { skip: true, message: 'No pending orders to sync' } }];\n}\n\n// Return order IDs to check (batch of up to 50)\nreturn pending.slice(0, 50).map(o => ({ json: { order_id: o.order_id } }));"
      },
      "id": "n3",
      "name": "Filter Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n4",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SHOPIFY_STORE_URL }}/admin/api/2024-01/orders/{{ $json.order_id }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $env.SHOPIFY_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "n5",
      "name": "Fetch From Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const shopifyOrder = $input.first().json.order || $input.first().json;\n\nreturn [{\n  json: {\n    order_id: String(shopifyOrder.id || ''),\n    financial_status: shopifyOrder.financial_status || '',\n    fulfillment_status: shopifyOrder.fulfillment_status || 'unfulfilled',\n    synced_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "n6",
      "name": "Extract Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHOPIFY_ORDERS_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "financial_status": "={{ $json.financial_status }}",
            "fulfillment_status": "={{ $json.fulfillment_status }}",
            "synced_at": "={{ $json.synced_at }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": true
            },
            {
              "id": "financial_status",
              "displayName": "financial_status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "fulfillment_status",
              "displayName": "fulfillment_status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "synced_at",
              "displayName": "synced_at",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "n7",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule Sync": {
      "main": [
        [
          {
            "node": "Read Orders Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders Sheet": {
      "main": [
        [
          {
            "node": "Filter Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending": {
      "main": [
        [
          {
            "node": "Has Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending?": {
      "main": [
        [
          {
            "node": "Fetch From Shopify",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch From Shopify": {
      "main": [
        [
          {
            "node": "Extract Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Status": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}